body {
    margin: 0;
}

.card {
    width: 500px;
    height: fit-content;
    background-color: rgb(84, 60, 29);
    margin: 10px;
}
.borda-card{
    border: 10px solid #910e7e;
}
.perfil{
    width: 100px; 
    height: 100px;
    background-color: #910e7e; 
    font-family: cursive;
    margin: 5px
}
.icon{
    width: 100%; height: 100%;
}
.h1{
    color:#910e7e; 
    font-family: cursive;
    margin: 5px
}
.p{
    color: #910e7e; 
    font-family: cursive;
    margin: 5px
}
.span{
    color: #910e7e; 
    margin: 5px;
}